<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-size: 13pt;">
    <h1></h1>
    <table style="width: 100%;" border="0">
      <thead>
        <th><h1>Weekly DOE Fuel Update</h1><br/>Week of @regular.effective_date</th>
      </thead>
    </table>
    <table style="width: 100%; border: 1px;" border="1">
      <thead>
        <th style="width: 40%; border-top: 0; border-left: 0; border-right: 0;">Location</th>
        <th style="width: 30%; border-top: 0; border-left: 0; border-right: 0;">Regular Prices</th>
        <th style="width: 30%; border-top: 0; border-left: 0; border-right: 0;">Diesel Prices</th>
      </thead>
      <tr>
        <td style="padding-left: 16%; width: 40%; border-top: 0; border-left: 0; border-right: 0;">US National Average</td>
        <td align="center" style="width: 30%; border-top: 0; border-left: 0; border-right: 0;">@regular.us_national_average</td>
        <td align="center" style="width: 30%; border-top: 0; border-left: 0; border-right: 0;">@diesel.us_national_average</td>
      </tr>
      <tr>
        <td style="padding-left: 16%; width: 40%; border-top: 0; border-left: 0; border-right: 0;">East Coast</td>
        <td align="center" style="width: 30%; border-top: 0; border-left: 0; border-right: 0;">@regular.east_coast</td>
        <td align="center" style="width: 30%; border-top: 0; border-left: 0; border-right: 0;">@diesel.east_coast</td>
      </tr>
      <tr>
        <td style="padding-left: 17%; width: 40%; border-top: 0; border-left: 0; border-right: 0;">New England</td>
        <td align="center" style="width: 30%; border-top: 0; border-left: 0; border-right: 0;">@regular.new_england</td>
        <td align="center" style="width: 30%; border-top: 0; border-left: 0; border-right: 0;">@diesel.new_england</td>
      </tr>
      <tr>
        <td style="padding-left: 17%; width: 40%; border-top: 0; border-left: 0; border-right: 0;">Central Atlantic</td>
        <td align="center" style="width: 30%; border-top: 0; border-left: 0; border-right: 0;">@regular.central_atlantic</td>
        <td align="center" style="width: 30%; border-top: 0; border-left: 0; border-right: 0;">@diesel.central_atlantic</td>
      </tr>
      <tr>
        <td style="padding-left: 17%; width: 40%; border-top: 0; border-left: 0; border-right: 0;">Lower Atlantic</td>
        <td align="center" style="width: 30%; border-top: 0; border-left: 0; border-right: 0;">@regular.lower_atlantic</td>
        <td align="center" style="width: 30%; border-top: 0; border-left: 0; border-right: 0;">@diesel.lower_atlantic</td>
      </tr>
      <tr>
        <td style="padding-left: 16%; width: 40%; border-top: 0; border-left: 0; border-right: 0;">Midwest</td>
        <td align="center" style="width: 30%; border-top: 0; border-left: 0; border-right: 0;">@regular.midwest</td>
        <td align="center" style="width: 30%; border-top: 0; border-left: 0; border-right: 0;">@diesel.midwest</td>
      </tr>
      <tr>
        <td style="padding-left: 16%; width: 40%; border-top: 0; border-left: 0; border-right: 0;">Gulf Coast</td>
        <td align="center" style="width: 30%; border-top: 0; border-left: 0; border-right: 0;">@regular.gulf_coast</td>
        <td align="center" style="width: 30%; border-top: 0; border-left: 0; border-right: 0;">@diesel.gulf_coast</td>
      </tr>
      <tr>
        <td style="padding-left: 16%; width: 40%; border-top: 0; border-left: 0; border-right: 0;">Rocky Mountains</td>
        <td align="center" style="width: 30%; border-top: 0; border-left: 0; border-right: 0;">@regular.rocky_mountains</td>
        <td align="center" style="width: 30%; border-top: 0; border-left: 0; border-right: 0;">@diesel.rocky_mountains</td>
      </tr>
      <tr>
        <td style="padding-left: 16%; width: 40%; border-top: 0; border-left: 0; border-right: 0;">West Coast</td>
        <td align="center" style="width: 30%; border-top: 0; border-left: 0; border-right: 0;">@regular.west_coast</td>
        <td align="center" style="width: 30%; border-top: 0; border-left: 0; border-right: 0;">@diesel.west_coast</td>
      </tr>
      <tr>
        <td style="padding-left: 17%; width: 40%; border-top: 0; border-left: 0; border-right: 0;">West Coast less California</td>
        <td align="center" style="width: 30%; border-top: 0; border-left: 0; border-right: 0;">@regular.west_coast_less_california</td>
        <td align="center" style="width: 30%; border-top: 0; border-left: 0; border-right: 0;">@diesel.west_coast_less_california</td>
      </tr>
      <tr>
        <td style="padding-left: 17%; width: 40%; border-top: 0; border-left: 0; border-right: 0;">California</td>
        <td align="center" style="width: 30%; border-top: 0; border-left: 0; border-right: 0;">@regular.california</td>
        <td align="center" style="width: 30%; border-top: 0; border-left: 0; border-right: 0;">@diesel.california</td>
      </tr>
    </table>
    <table style="margin-top: 25px; width: 100%;" border="0">
      <tr>
        <td align="center" style="font-size: 8pt;">You have opted to receive doe fuel updates via this free service.  If you no longer wish to receive these emails, please click <a href="">here</a></td>
      </tr>
    </table>
  </body>
</html>