<div class="container">
	<div class="hero-unit">
		<h5>Regular Fuel Prices by Region</h5>
		<div class="row">
			<div class="span3">
				US National Average
			</div>
			<div class="span3">
				<%= @regular.us_national_average %>
			</div>
		</div>
		<div class="row">
			<div class="span3">
			</div>
			<div class="span3">
			</div>
			<div class="span3">
			</div>
		</div>
		<hr/>
		<h5>Regular Fuel Prices by State</h5>

		<hr/>
		<h5>Regular Fuel Prices by City</h5>

		<hr/>
		<h5>Diesel Fuel Prices</h5>

		<hr/>
		<div class="pull-right">
			<small>Effective: <%= @regular.effective_date %></small>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

<us-national-average type="float">3.646</us-national-average>
<east-coast type="float">3.648</east-coast>
<new-england type="float">3.805</new-england>
<central-atlantic type="float">3.738</central-atlantic>
<lower-atlantic type="float">3.533</lower-atlantic>
<midwest type="float">3.575</midwest>
<gulf-coast type="float">3.478</gulf-coast>
<rocky-mountains type="float">3.64</rocky-mountains>
<west-coast type="float">3.929</west-coast>
<california type="float">4.002</california>

<boston type="float">3.72</boston>
<chicago type="float">3.959</chicago>
<cleveland type="float">3.465</cleveland>
<denver type="float">3.527</denver>
<houston type="float">3.494</houston>
<los-angeles type="float">4.07</los-angeles>
<miami type="float">3.738</miami>
<new-york-city type="float">3.81</new-york-city>
<san-francisco type="float">3.972</san-francisco>
<seattle type="float">3.942</seattle>

<colorado type="float">3.532</colorado>
<florida type="float">3.577</florida>
<massachusetts type="float">3.719</massachusetts>
<minnesota type="float">3.719</minnesota>
<new-york type="float">3.924</new-york>
<ohio type="float">3.407</ohio>
<texas type="float">3.524</texas>
<washington type="float">3.915</washington>

<us-national-average type="float">3.646</us-national-average>
<east-coast type="float">3.648</east-coast>
<new-england type="float">3.805</new-england>
<central-atlantic type="float">3.738</central-atlantic>
<lower-atlantic type="float">3.533</lower-atlantic>
<midwest type="float">3.575</midwest>
<gulf-coast type="float">3.478</gulf-coast>
<rocky-mountains type="float">3.64</rocky-mountains>
<west-coast type="float">3.929</west-coast>
<west-coast-less-california type="float">3.805</west-coast-less-california>
<california type="float">4.002</california>