<div class="container">
	<div class="hero-unit">
		<h1>API</h1>
		<hr/>
		<h3>Accessing the API</h3>
		<p>The API can be accessed at http://doefuel.herokuapp.com/prices/get.(json|xml).  You must specify the .json or .xml ending corresponding to the format you want the response to be formatted in.</p>
		<hr/>
		<h3>Optional Parameters</h3>
		<p>Adding an optional date parameter to the URL will allow you to retrieve data from previous weeks.  Dates should be in the <a href="http://en.wikipedia.org/wiki/ISO_8601">ISO 8061</a> format to be parsed successfully.  See the <a href="/about">FAQ</a> for data retention and privacy policies.</p>
		<p><small>Example: http://doefuel.herokuapp.com/prices/get.json?date=2013-08-04</small></p>
	</div>
</div>
