<div class="hero-unit" style="opacity:.90;">
	<div class="row-fluid">
		<h5>Accessing the API</h5>
		<p>The API can be accessed at<br/><br/>/prices/get.(json|xml)<br/><br/>You must specify the .json or .xml ending corresponding to the format you want the response to be formatted in.</p>
	</div>
	<hr/>
	<div class="row-fluid">
		<h5>Optional Parameters</h5>
		<p>Adding an optional date parameter to the URL will allow you to retrieve data from previous weeks.  Dates should be in the <a href="http://en.wikipedia.org/wiki/ISO_8601">ISO 8061</a> format to be parsed successfully.  See the <a href="/about">FAQ</a> for data retention and privacy policies.</p>
		<p><small>Example: /prices/get.json?date=2013-08-04</small></p>
		<p>Adding an optional type parameter (diesel | regualr) will allow you to return only the object you care about.</p>
		<p><small>Example: /prices/get.json?type=diesel</small></p>
	</div>
</div>
