<html>
	<head>
		<title>DOE Fuel Wrapper</title>
	</head>
	<body style="background-color: #1abc9c;">
		<div class="container">
			<div class="hero-unit">
				<h2>DOE Fuel Wrapper</h2>
				<h3>What is it?</h3>
				<p>This web application is a wrapper around the DOE fuel update RSS feed that allows you to scrape the fuel prices as JSON or XML, making the site a little more web friendly.</p>
				<h3>How do I access the data?</h3>
				<p>Simply hit <a href="http://doefuel.herokuapp.com/prices/get.json">http://doe_fuel.herokuapp.com/prices/get.json</a> or <a href="http://doefuel.herokuapp.com/prices/get.xml">http://doe_fuel.herokuapp.com/prices/get.xml</a> with your application.  The data will be returned in the format you requested.</p>
				<h3>Issues?/Found a Bug?</h3>
				<p>Report it on Github <a href="https://github.com/bulletshot60/doe_fuel/issues">here</a></p>
			</div>
		</div>
	</body>
</html>