<div class="container">
	<div class="hero-unit">
		<h1>Trends</h1>
		<hr/>
		<h3>Regular Fuel Trends by Region</h3>
		<div id="region_graph_reg" class="span10"></div>
		<hr/>
		<h3>Regular Fuel Trends by State</h3>
		<div id="state_graph_reg" class="span10"></div>
		<hr/>
		<h3>Regular Fuel Trends by City</h3>
		<div id="city_graph_reg" class="span10"></div>
		<hr/>
		<h3>Diesel Fuel Trends by State</h3>
		<div id="region_graph_die" class="span10"></div>
		<div class="clearfix"></div>
	</div>
</div>
