<div class="container">
	<div class="hero-unit">
		<h1>Weekly Update Email Sign-up</h1>
		<hr/>
		<p>Opting into this service will cause you to receive an email once weekly with the newly updated fuel averages.  See the <a href="/about">FAQ</a> for information about our privacy policy.</p>
		<!-- Begin MailChimp Signup Form -->
		<form action="http://github.us7.list-manage2.com/subscribe/post?u=4b8e0c0ffbfd836e88702418e&amp;id=46e4fe84a5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="/prices/success" novalidate class="control-group">
			<input type="email" value="" name="EMAIL" class="flat span4" style="margin-top: 9px;" id="mce-EMAIL" placeholder="email address" required>
			<button type="submit" class="btn btn-primary btn-wide">Subscribe</button>
		</form>
		<!--End mc_embed_signup-->
	</div>
</div>
