<html>
	<head>
		<title>DOE Fuel Wrapper</title>
	</head>
	<body style="background-color: #1abc9c;">
		<div class="container">
			<div class="hero-unit">
				<h1>DOE Fuel Wrapper</h1>
				<hr/>
				<h3>About</h3>
				<p></p>
				<hr/>
				<h3>FAQ</h3>
				<ul>
					<li>
						<h5>Data Retention Policy</h5>
						<p>We do log the number of requests made to our web API.  The information collected is nothing more than a hit count so that we can determine the load the application is experiencing on a day-to-day basis.  No information that could identify your computer or yourself is collected.</p>
					</li>
					<li>
						<h5>Privacy Policy</h5>
						<p>We do not store or collect any personally identifying information.  All email addresses are collected and managed by MailChimp.  Please see their <a href="http://mailchimp.com/legal/privacy/">privacy policy</a> for data usage policies.</p>
					</li>
					<li>
						<h5>How many weeks worth of data do you keep from the EIA?</h5>
						<p>We keep exactly one year's worth of records.  After this, the records are permanently removed.</p>
					</li>
					<li>
						<h5>Issues?/Found a Bug?</h5>
						<p>Report it on Github <a href="https://github.com/bulletshot60/doe_fuel/issues">here</a></p>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
