<div class="hero-unit" style="opacity:.90;">
	<div class="row-fluid">
		<h5>About</h5>
		<p>This application was written out of frustration with the EIA's data sources.  Our company possess multiple applications that need to access fuel data on a regular basis yet the only method provided for access is an RSS feed which has to be scraped and parsed.  To right this wrong, this application provdies multiple means of accessing the data: a web friendly api, email updates and a web interface.  Developers or anyone can freely choose how they want to consume the data.</p>
	</div>
	<hr/>
	<div class="row-fluid">
		<h5>FAQ</h5>
		<ul>
			<li>
				<h6>Data Retention Policy</h6>
				<p>We do log the number of requests made to our web API.  The information collected is nothing more than a hit count so that we can determine the load the application is experiencing on a day-to-day basis.  No information that could identify your computer or yourself is collected.</p>
			</li>
			<li>
				<h6>Privacy Policy</h6>
				<p>We do not store or collect any personally identifying information.  All email addresses are collected and managed by MailChimp.  Please see their <a href="http://mailchimp.com/legal/privacy/">privacy policy</a> for data usage policies.</p>
			</li>
			<li>
				<h6>How many weeks worth of data do you keep from the EIA?</h6>
				<p>We keep exactly one year's worth of records.  After this, the records are permanently removed.</p>
			</li>
			<li>
				<h6>Issues?/Found a Bug?</h6>
				<p>Report it on Github <a href="https://github.com/bulletshot60/doe_fuel/issues">here</a></p>
			</li>
		</ul>
	</div>
</div>