<html>
	<head>
		<title>DOE Fuel Wrapper</title>
	</head>
	<body style="background-color: #1abc9c;">
		<div class="container">
			<div class="hero-unit">
				<h1>DOE Fuel Wrapper</h1>
				<hr/>
				<h3>About</h3>
				<p></p>
				<hr/>
				<h3>FAQ</h3>
				<ul>
					<li>

					</li>
					<li>

					</li>
					<li>
						<h5>Issues?/Found a Bug?</h5>
						<p>Report it on Github <a href="https://github.com/bulletshot60/doe_fuel/issues">here</a></p>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
