<div class="container">
	<div class="hero-unit">
		<h3>Page View Trends by Page</h3>
		<div id="page_view_graph" class="span10"></div>
		<hr/>
		<h3>API Trends by Type</h3>
		<div id="api_graph" class="span10"></div>
		<div class="clearfix"></div>
	</div>
</div>
