<div class="hero-unit" style="opacity:.90;">
	<div class="row-fluid">
		<h5>Page View Trends by Page</h5>
		<div id="page_view_graph" class="offset1 span10"></div>
	</div>
	<hr/>
	<div class="row-fluid">
		<h5>API Trends by Type</h5>
		<div id="api_graph" class="offset1 span10"></div>
	</div>
</div>
